.quotes {
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spin {
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.handle-error {
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.each-quote {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.quote-quote {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.quote-author {
  font-style: italic;
  margin-bottom: 5px;
}
